<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wales.chat.dao.MessageMapper">

    <select id="getMessageByRoomId"  parameterType="Integer"  resultType="ChatMessage">
        select
            room_id, from_user, to_user, message
        from
            message
        where
            room_id = #{id}
        limit
            #{start}, #{end}
    </select>

    <select id="getMessageByUserId" parameterType="Integer" resultType="ChatMessage">
        select
            room_id, from_user, to_user, message
        from
            message
        where
            to_user = #{id}
    </select>

    <insert id="insertMessage" parameterType="com.wales.chat.model.ChatMessage">
        insert into message
            (room_id, from_user, to_user, message,  posted_on)
        values
            (#{room_id}, #{from_user}, #{to_user}, #{message}, now())
    </insert>
</mapper>