<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wales.chat.dao.RoomMapper">

    <select id="list" parameterType="Integer" resultType="Room">
        select
            *
        from
            room
        limit #{start}, #{end}
    </select>

    <select id="findById" parameterType="Integer" resultType="Room">
        select
        *
        from
            room
        where id = #{id}
    </select>

    <insert id="insertRoom" parameterType="com.wales.chat.model.Room" useGeneratedKeys="true"
            keyProperty="id">
        insert into room
            (name)
        values
            (#{name})
    </insert>
</mapper>